
Assignements/Assign13/credentials.json
Assignements/Assign12/credentials.json
Assignements/Assign13/token.pickle
Automation/Applications/BirthdayAutomation/credentials.json
Automation/Applications/BirthdayAutomation/token.pickle
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Python.iml
